<li class='collection-item' id='job<%= job.id.to_s %>'>
  <%= link_to job.title, job_path(job) %>
  <%= link_to 'Complete', job_complete_path(job), method: 'patch', remote: true, class: 'right' %>
</li>
