<div class="row">
  <ul class="collection with-header col s6">
    <h1 class="collection-header">Jobs:</h1>
    <% @jobs.each do |job| %>
    <li class="collection-item">
      <%= link_to job.title, job_path(job), id: 'job' + job.id.to_s %>
      <% if Worker.exists?(id: job.worker_id) %>
        <span class="right">accepted by <%= job.worker.email %></span>
      <% end %>
    </li>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <ul class="collection with-header col s6">
      <h1 class="collection-header">Your Job Postings:</h1>
      <% current_user.jobs.each do |job| %>
      <li class="collection-item">
        <%= link_to job.title, job_path(job), id: 'job' + job.id.to_s %>
        <% if Worker.exists?(id: job.worker_id) %>
          <span class="right">accepted by <%= job.worker.email %>, (
            <% if job.completed? %>
              complete
            <% elsif job.in_progress? %>
              in progress
            <% else %>
              pending
            <% end %>
          )</span>
        <% end %>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
