console.log('in js')
debugger;
if (params['change'] == 'progress') {
  console.log('working')
  $('#job<%= @job.id %>').remove();
  $('#jobs-in-progress').append("<li class='collection-item' id='job<%= @job.id.to_s %>'><%= link_to @job.title, job_path(@job) %></li>")
} else {
  $('#job-title').css({'color': 'red', 'text-decoration': 'line-through'})
  $('#job-status').text('You have successfully claimed this job!')
}
